@charset "UTF-8";

.warapper {
  width: 1100px;
  margin: 0 auto;
}

.red-box {
  width: 400px;
  height: 400px;
  background-color: #f00;
  display: block;
  margin: auto;
}
/* 960px未満になったら */
@media screen and (max-width: 960px) {
  .red-box {
    width: 200px;
    height: 200px;
  }
}

.chenge-color-box {
  width: 400px;
  height: 400px;
  background-color: #f00;
  display: block;
  margin: auto;
}

/* 960px未満になったら青色に変わる */
@media screen and (max-width: 960px) {
.chenge-color-box {
  width: 300px;
  height: 300px;
  background-color: #007bff;
}
}

.margin-change-box {
  display: flex;
  justify-content: center;
}

.blue-box {
  width: 400px;
  height: 400px;
  background-color: #0008ff;
  margin-right: 150px;
}

.green-box {
  width: 400px;
  height: 400px;
  background-color: #2f0;
}

/* SP */
@media screen and (max-width: 960px) {
  .blue-box {
    margin-right: 50px;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.red--box {
  width: 400px;
  height: 400px;
  background-color: #f00;
  float: left;
}

.blue--box {
  width: 400px;
  height: 400px;
  background-color: #0008ff;
  float: left;
}

/* SP */
@media screen and (max-width: 960px) {
  .red--box {
    float: none; 
  }
}

.reverse-flexbox {
  display: flex;
}

.containerA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reverse-red-box {
  width: 400px;
  min-height: 400px;
  background-color: #f00;
  position: relative;
  flex-shrink: 0;
}

.containerB {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reverse-blue-box {
  width: 400px;
  height: 400px;
  background-color: #0008ff;
  position: relative;
  flex-shrink: 0;
}

.containerC {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reverse-orange-box {
  width: 400px;
  height: 400px;
  background-color: #ff8400;
  position: relative;
  flex-shrink: 0;
}

/* SP */
@media screen and (max-width: 960px) {
  .reverse-flexbox {
    display: flex;
    flex-direction: row-reverse;
  }
}

.replacement-flexbox {
  display: flex;
}

.replacement-green-box {
  width: 400px;
  height: 400px;
  background-color: #00ff51;
  position: relative;
  flex-shrink: 0;
}

.replacement-yellowbox {
  width: 400px;
  height: 400px;
  background-color: #d4ff00;
  position: relative;
  flex-shrink: 0;
}

.replacement-pinkbox {
  width: 400px;
  height: 400px;
  background-color: #ff00e1;
  position: relative;
  flex-shrink: 0;
}

/* SP */
@media screen and (max-width: 960px) {
  .replacement-pinkbox {
    order: 1;
  }
  .replacement-green-box {
    order: 2;
  }
  .replacement-yellowbox {
    order: 3;
  }
}

.display-hidden {
  display: flex;
}

.display-red-box {
  width: 400px;
  height: 400px;
  background-color: #f00;
  flex-shrink: 0;
}

.display-green-box {
  width: 400px;
  height: 400px;
  background-color: #00ff51;
  flex-shrink: 0;
}

.display-blue-box {
  width: 400px;
  height: 400px;
  background-color: #0008ff;
  flex-shrink: 0;
}

/* SP */
@media screen and (min-width:960px) {
  .display-blue-box {
    display: none;
  }
}